@import '../../shared/styles/index';

.footer {
  color: black;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  background-color: $white;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 30px;
  width: calc(100% - 40px);

  @include card-shadow;

  &__info {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  &__phone {
    margin: 0;
    margin-right: 30px;
  }

  &__logo {
    font-family: Pacifico, sans-serif;
    font-size: 24px;
    position: relative;
    color: $soft-dark;
    margin: 0;

    &::before {
      content: ' ';
      position: absolute;
      left: -40px;
      top: 2px;
      background-image: url('../../shared/assets/icons/watermelon-emoji.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 35px;
      height: 35px;
    }
  }

  &__socials {
    display: flex;
    gap: 10px;

    &-item {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 20px;
      height: 20px;
    }

    &-vk {
      background-image: url('../../shared/assets/icons/vk.svg');
    }

    &-ytbe {
      background-image: url('../../shared/assets/icons/youtube.svg');
    }

    &-inst {
      background-image: url('../../shared/assets/icons/instagram.svg');
    }
  }

  &__copyright {
    margin: 0;
    font-size: 14px;
    line-height: 17px;
  }

  &__warning {
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
