@import '../../shared/styles/index';

.product-page {
  color: black;
  max-width: 1280px;
  width: 100%;
  padding: 0 20px;

  &__nav {
    padding: 0 0 20px;
  }

  &__product-card {
    display: flex;
    flex-direction: column;

    @include breakpoint(1000px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  &__image-main {
    background-image: url('../../shared/assets/images/iphone.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    justify-self: center;
  }

  &__product-card__info {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__product-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
  }

  &__product-features {
    display: flex;
    gap: 30px;
  }

  &__rating {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    gap: 10px;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    user-select: none;
  }

  &__feature-actions {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__feature {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
  }

  &__feature-comparison {
    background-image: url('../../shared/assets/icons/graph.svg');
  }

  &__feature-bookmark {
    background-image: url('../../shared/assets/icons/bookmark.svg');
  }

  &__feature-share {
    background-image: url('../../shared/assets/icons/share.svg');
  }

  &__product-tech-description {
    color: black;
  }

  &__product-tech-description-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
  }

  &__product-tech-description-paragraph {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: $soft-dark;
  }

  &__buisness-actions {
    display: flex;
    justify-content: space-between;
  }

  &__price {
    font-weight: 600;
    font-size: 32px;
    line-height: 22px;
    color: $soft-dark;
  }

  &__full-description-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
  }

  &__full-description-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
  }

  &__collab-widget {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    gap: 20px;
    background-color: $white;
    border-radius: 15px;
    margin-bottom: 30px;

    @include card-shadow;

    @include breakpoint(1000px) {
      grid-template-columns: 2fr 1fr;
    }
  }

  &__collab-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;

    @include breakpoint(1000px) {
      grid-column: span 2;
      flex-direction: row;
      display: flex;
      gap: 10px;
      align-items: center;
    }

    &-paragraph {
      margin: 0 !important;
    }
  }

  &__collab-progress {
    &-info {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
    }

    &-bars {
      width: 100%;
      @include breakpoint(1000px) {
        width: auto;
      }
    }
  }

  &__collab-body-counter {
    font-size: 16px;
  }

  &__collab-date-counter {
    font-size: 16px;
  }

  &__collab-days-counter {
    color: gray;
  }

  &__statistics {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__collab-feedback {
    border: 1px solid rgb(0 0 0 / 20%);
    border-radius: 10px;
    padding: 5px;
  }

  &__collab-actions {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;

    @include breakpoint(1000px) {
      display: flex;
      flex-direction: row;
      justify-self: flex-end;
      align-self: flex-end;
      align-items: center;
    }
  }

  &__collab-price {
    margin: 0;
    font-weight: 700;
    font-size: 30px;
    color: $soft-dark;
  }
}

.app-theme_dark {
  .product-page {
    color: $dark-white;

    &__product-tech-description-title {
      color: $dark-white;
    }

    &__product-tech-description-paragraph {
      color: $dark-white;
    }

    &__collab-widget {
      box-shadow: none;
      background-color: rgb(255 255 255 / 10%);

      // border: 1px solid $dark-border;
    }

    &__collab-price {
      color: $dark-white;
    }

    &__statistics {
      border-color: $dark-border;
    }

    &__price {
      color: $dark-white;
    }
  }
}
