@import '../../shared/styles/index';

.landing-page {
  color: black;
  display: flex;

  // padding: 0 0 20px;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 1280px;
  width: 100%;
  gap: 40px;

  &__nav {
    position: absolute;
    right: 30px;
    top: 60px;
    display: flex;
    gap: 20px;
  }

  &__title {
    font-family: Pacifico, sans-serif;
    font-size: 62px;
    color: $soft-dark;
  }

  &__slogan {
    max-width: 480px;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    color: $watermelon;
  }

  &__features {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    gap: 80px;

    .landing-feature {
      display: flex;
      gap: 30px;

      &__description {
        flex: 1 0 50%;
        gap: 30px;
      }

      &__title {
        font-size: 32px;
        color: $soft-dark;
        text-align: center;
      }

      &__paragraph {
        font-weight: 400;
        font-size: 24px;
        line-height: 1.2;
        color: $soft-dark;
      }

      &__img-box {
        flex: 1 0 50%;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
      }

      &__img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .landing-feature:nth-child(2n) {
      flex-direction: row-reverse;
    }
  }
}
