@import '../../../../shared/styles/index';

.order-card {
  color: black;
  display: grid;
  grid-template-columns: 50px 300px 100px 1fr 1fr;
  align-items: center;
  padding: 20px;
  background-color: $white;
  border-radius: 15px;
  transition: 0.4s;

  &:hover {
    color: $watermelon-light;
  }

  @include card-shadow;

  &__id {
    margin: 0;
    font-weight: 600;
  }

  &__status {
    margin: 0;
  }

  &__sum {
    margin: 0;
    justify-self: flex-end;
  }

  &__seller-name {
    margin: 0;
    justify-self: flex-end;
  }
}
