@import '../../shared/styles/index';

.bucket-page {
  color: black;
  max-width: 1280px;
  width: 100%;
  padding: 0 20px;

  &__nav {
    padding-bottom: 20px;
  }

  &__layout {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 15px;

    @include breakpoint(1000px) {
      position: relative;
      display: grid;
      gap: 30px;
      grid-template-columns: 2fr 1fr;
    }
  }

  &__products {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    order: 2;

    @include breakpoint(1000px) {
      order: 1;
    }
  }

  &__side {
    @include breakpoint(1000px) {
      position: sticky;
      align-self: start;
      top: 20px;
      order: 2;
    }
  }
}

.app-theme_dark {
  .bucket-page {
    color: $dark-white;

    &__side {
      color: $dark-white;
    }
  }
}
