@import '../../shared/styles/index';

.page-header {
  display: flex;
  gap: 20px;
  align-items: center;
  background-color: $white;
  width: 100%;
  padding: 5px 10px;

  @include card-shadow;
  @include breakpoint(1000px) {
    width: calc(100% - 40px);
    height: 80px;
    border-radius: 20px;
    padding: 20px;
    margin: 20px 0;
  }

  &__logo {
    position: relative;
    display: flex;
    align-items: center;
    font-family: Pacifico, sans-serif;
    font-size: 16px;
    color: $soft-dark;
    margin-right: auto;
    margin-bottom: 0;
    user-select: none;

    &-text {
      transition: 0.3s;

      @include breakpoint(1000px) {
        display: block;
        font-size: 22px;
      }
    }

    &-text:hover {
      color: $watermelon;
    }

    &:hover {
      color: $watermelon;
    }

    &-themer {
      gap: 10px;
      font-family: Montserrat, sans-serif;
      flex-direction: row-reverse;
      justify-items: center;
      align-items: center;
      display: none;

      @include breakpoint(1000px) {
        display: flex;
        margin-left: 20px;
        flex-direction: row;
      }
    }
  }

  &__bucket {
    display: none;

    @include breakpoint(1000px) {
      display: block;
    }
  }

  &__logo-image {
    background-image: url('../../shared/assets/icons/watermelon-emoji.svg');
    background-size: contain;
    margin-right: 20px;
    width: 40px;
    height: 40px;
    display: none;

    @include breakpoint(1000px) {
      display: block;
    }
  }

  &__auth-links {
    display: flex;
    align-items: center;
    gap: 5px;

    @include breakpoint(1000px) {
      gap: 15px;
    }

    &-btn {
      @media screen and (max-width: 1000px) {
        padding: 5px !important;
        font-size: 8px !important;
      }
    }
  }

  &__avatar {
    border-radius: 10px !important;
  }

  &__profile-link {
    display: none;

    @include breakpoint(1000px) {
      display: block;
    }
  }

  &__logout {
    display: none;

    @include breakpoint(1000px) {
      display: block;
    }
  }

  &__admin-link {
    align-items: center;
    gap: 10px;
    font-weight: 500;
    color: $soft-dark;
    vertical-align: middle;
    margin: 0;
    font-size: 16px;
    line-height: 18px;
    transition: 0.3s;
    display: none;

    @include breakpoint(1000px) {
      display: flex;
    }

    &:hover {
      color: $watermelon-light;
    }
  }

  &__menu-btn {
    @include breakpoint(1000px) {
      display: none !important;
    }
  }
}

.app-theme_dark {
  .page-header {
    background-color: transparent;
    box-shadow: none;

    &__logo {
      color: $white;

      &-text:hover {
        color: $blue;
      }

      &:hover {
        color: $blue;
      }
    }

    &__logo-image {
      background-image: url('../../shared/assets/icons/watermelon-emoji-dark.svg');
    }

    &__admin-link {
      color: $dark-white;

      &:hover {
        color: $blue-light;
      }
    }
  }
}
