@import '../../../../shared/styles/index';

.preorder-card {
  color: $soft-dark;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  transition: 0.4s;

  @include card-shadow;
}

.app-theme_dark {
  .preorder-card {
    color: $dark-white;
    border: 1px solid $dark-border;
    box-shadow: none;

    &:hover {
      color: $blue-light;
    }
  }
}
