@import '../../../../shared/styles/index';

.buy-bucket-btns {
  border-radius: 20px;
  border: 1px solid rgb(235 235 235);

  // @include card-shadow;
}

.app-theme_dark {
  .buy-bucket-btns {
    border-color: $dark-border;
  }
}
