@import '../../shared/styles/index';

.browse-products-page {
  max-width: 1280px;
  width: 100%;
  padding: 0 20px;

  &__nav {
    padding: 0 0 20px;
  }

  &__main {
    display: grid;
    grid-template-columns: 300px 1fr;
  }

  &__settings {
    width: 280px;

    // background-color: $watermelon-light;
    color: $black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    // padding: 20px;
  }

  &__products {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__additional-settings {
    background-color: $watermelon-light;
    color: $white;
    border-radius: 10px;
    padding: 10px;
  }

  &__products-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
