@import '../../../../shared/styles/index';

.category-switcher {
  color: black;

  &__button {
    width: 100%;
    border-radius: 10px !important;
    border: none !important;
    @include card-shadow;

    @include breakpoint(1000px) {
      width: 250px;
      height: 50px !important;
      display: flex !important;
      flex-direction: column;
      border-radius: 15px !important;
      justify-content: center;
      user-select: none;
    }

    &:not(.ant-radio-button-wrapper-disabled):hover {
      color: $watermelon-light !important;
    }

    &.ant-radio-button-wrapper-checked {
      color: $watermelon !important;
    }
  }

  &__button-content {
    display: flex;
    gap: 10px;
    width: inherit;
    align-items: center;
  }
}
