@import '../../styles/index';

.input-password-melon {
  border-radius: 15px !important;

  &.ant-input-affix-wrapper:hover {
    border-color: $watermelon !important;
  }

  &.ant-input-affix-wrapper-focused {
    border-color: $watermelon;
    box-shadow: 0 0 5px #ff9198cc;
  }
}

.app-theme_dark {
  .input-password-melon {
    &.ant-input-affix-wrapper:hover {
      border-color: $blue-light !important;
    }

    &.ant-input-affix-wrapper-focused {
      border-color: $blue;
      box-shadow: 0 0 5px $blue-light;
    }
  }
}
