@import '../../styles/index';

.search-melon {
  color: black;

  &.ant-input-group-wrapper {
    border-radius: 15px !important;
  }

  &_shadowed {
    color: blue;

    @include card-shadow;
  }
}
