@import '../../shared/styles/index';

.seller-dashboard {
  color: black;
  max-width: 1280px;
  width: 100%;
  padding: 0 20px 20px;

  &__nav {
    padding: 0 0 20px;
  }

  &__tabs {
    background-color: $white;
    border-radius: 20px;
    @include card-shadow;

    &.ant-tabs {
      padding: 20px;
    }

    .ant-tabs-ink-bar {
      background-color: $watermelon;
    }

    .ant-tabs-tab:hover {
      .ant-tabs-tab-btn {
        color: $watermelon-light;
      }
    }

    .ant-tabs-tab.ant-tabs-tab-active {
      .ant-tabs-tab-btn {
        color: $watermelon;
      }
    }
  }

  &__extra {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__extra-money {
    margin: 0;
    display: flex;
    gap: 7px;
    font-size: 18px;
    font-weight: 600;
  }

  &__charge {
    color: rgb(138 138 138);
  }

  &__description {
    margin-bottom: 20px;
  }

  &__products {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  &__products-title {
    margin: 0;
    padding: 0 0 20px;
  }

  &__products-empty {
    color: $soft-dark;
  }

  &__products__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__orders {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__order-card {
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    align-items: center;
    background-color: $white;
    padding: 10px;
    color: black;
    font-weight: 500;

    & p {
      margin: 0;
    }

    @include card-shadow;
  }
}
