@import '../../shared/styles/index';

.signup-page {
  color: $black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  min-height: 100vh;
  width: 100%;
  position: relative;
  @include breakpoint(1000px) {
    overflow: hidden;
  }

  &__page-title {
    font-family: Pacifico, sans-serif;
    color: $soft-dark !important;
    font-size: 32px !important;
    font-weight: normal !important;

    @include breakpoint(1000px) {
      font-size: 64px !important;
      padding-bottom: 50px;
    }
  }

  &__circle {
    display: none;
    @include breakpoint(1000px) {
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 181px;
      height: 181px;
      background-image: url('../../shared/assets/images/circle.png');
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  &__triangle {
    display: none;
    @include breakpoint(1000px) {
      display: block;
      position: absolute;
      right: -15px;
      top: 45px;
      width: 150px;
      height: 150px;

      // transform: rotate(180deg);
      background-image: url('../../shared/assets/images/triangle.png');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &__watermelon-abstract {
    display: none;
    @include breakpoint(1000px) {
      display: block;
      position: absolute;
      left: 30px;
      bottom: 30px;
      width: 250px;
      height: 250px;
      background-image: url('../../shared/assets/images/watermelon-abstract.png');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
