@import '../../../shared/styles/index';

.product-card {
  color: $black;
  background-color: $white;
  border-radius: 15px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  @include card-shadow;

  display: grid;
  grid-template-columns: 180px 2fr 1fr;
  gap: 20px;

  &__image {
    background-color: #f5f5f5;
    background-image: url('../../../shared/assets/images/fridge.png');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 20px;
    width: 180px;
    height: 180px;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__popularity {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: auto;
  }

  &__checked {
    font-size: 30px;
  }

  &__check-warning {
    color: #9b9b9b !important;
  }

  &__rating {
    border: 1px solid #f0f0f0;
    display: flex;
    align-items: center;
    padding: 2px 10px;
    border-radius: 8px;
    gap: 10px;
  }

  &__price {
    margin: 0;
    padding: 0;
    font-size: 28px;
    font-weight: 700;
    padding-top: 35px;
    color: $soft-dark;
    align-self: flex-end;
  }

  &__quantity {
    margin: 0;
    padding: 0;
  }

  &__buisness {
    display: flex;
    flex-direction: column;
  }

  &__actions {
    margin-top: auto;
    align-self: flex-end;
  }
}
